@model UpdateNote
<div class="container">
  <form class="form-horizontal" action="/addnote" method="post">
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">title</label>
      <div class="col-sm-5">
        <input type="text" name="title" placeholder="title">
      </div>
    </div>
    <div class="form-group">
      <label for="content" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-5">
        <textarea name="content" rows="8" cols="80">description</textarea>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success" name="submit" value="Update">
    </div>
  </form>

</div>
