
<div class="container-fluid">
    <div class="col-sm-4">
        <h2>CodingDojo Wall</h12>
    </div>
    <div class="col-sm-3 col-sm-offset-3">
        <p class="text-center">Welcome @ViewBag.log_name</p>
    </div>
    <div class="col-sm-2">
        <a href="/logout">Logoff</a>
    </div>
</div>
<strong><hr></strong>