<!Doctype=HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Contact</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css"> 
    </head>
    <body>
        <ul>
            <li><a href = "/products">Products</a></li>
            <li><a href = "/home">back to homepage</a></li>
        </ul>
        <h1>Welcome to contact page</h1>
        <form action="/home">
            <label>
                Name: <input type="text" name="name" >
            </label>
            <label>
                e-mail: <input type="email" name="email">
            </label>
            <label>
                Message: <textarea rows="4" cols="15"></textarea>
            </label>
            <input type="submit" name="submit" value="submit">
        </form>
    </body>
    

</html>