<!Doctype=HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Products</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css"> 
    </head>
    <body>
        <ul>
            <li><a href = "/home">back to homepage</a></li>
            <li><a href = "/contact">Contact</a></li>
        </ul>
        <h1>Welcome to products page</h1>
    </body>
</html>