@{
    ViewData["Title"] = "Home Page";
}

<h1>Pokeinfo~</h1>
<p>Name : @ViewBag.pokemon.Name</p>
<p>Weight: @ViewBag.pokemon.Weight</p>
<p>Height: @ViewBag.pokemon.Height</p>
<p>Type:</p>
@foreach( var entry in ViewBag.pokemon.Types)
{
    <p>@entry["type"]["name"]</p>
}